apiVersion: v1
kind: PersistentVolume
metadata:
  name: elasticsearch-data0
  labels:
    type: local
spec:
  persistentVolumeReclaimPolicy: Recycle
  storageClassName: local-path
  capacity:
    storage: 3Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data"
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: elasticsearch-data1
  labels:
    type: local
spec:
#using recycle as dynamic volume provisioning doesnt seem to work for vanilla rke/k3s
  persistentVolumeReclaimPolicy: Recycle 
  storageClassName: local-path
  capacity:
    storage: 3Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data"
---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: elasticsearch-data2
  labels:
    type: local
spec:
  persistentVolumeReclaimPolicy: Recycle
  storageClassName: local-path
  capacity:
    storage: 3Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data"